@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../style/variables.scss";
@import "../../../../node_modules/bootstrap/scss/variables";

.difficulties{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

    &__wrapper{
        width: 9rem;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        &:hover{
            .difficulties__line-right{
                top: 0rem;
                height: 3.1rem;
                transition-duration: 0.2s;
            }
        }
        &-active{
            width:100%;
            justify-content: space-between;
        }
    }

    &__btn-main{
        width: 9rem;
        text-transform: uppercase;
        background-color: transparent;
        color: black;
        white-space: nowrap;
        font-family: Spiegel-SemiBold;
        font-size: 0.6rem;
        line-height: 0.7rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
        border-style: none;
        --bs-btn-active-bg: white;
        --bs-btn-active-color: black;
        &-active{
            width: 12rem;
            display: flex;
            justify-content: space-between;
        }
        &:hover{
            background-color: transparent;
            color: black;
            &::after{
                left: 0.4rem;
                transition-duration: 0.2s;
            }
        }
        &:active{
            background-color: transparent;
            color: black;
        }
        &:focus-visible{
            background-color: transparent;
            color: black;
        }
        &:first-child:active{
            background-color: transparent;
            color: black;
        }
        &::after{
            color: $golden-color;
            border-top: 0.6em solid;
            border-right: 0.6em solid transparent;
            border-left: 0.6em solid transparent;
            position: relative;
            left: 0.2rem;
            transition-duration: 0.2s;
        }
        &:focus{
            &::after{
                left: 0.4rem;
            }
        }
    }
    &__line-right{
        position: relative;
        width: 0.07rem;
        height: 1.6rem;
        background-color: #c1c1c1;
        top: 0.7rem;
        right: 2rem;
        transition-duration: 0.2s;
    }
}

.line-full-height{
    top: 0rem;
    height: 3.1rem;
}

.difficulties__line-active{
    right: 0rem;
}

.dropdown-menu{
    --bs-dropdown-min-width: 9rem;
}

.dropdown-menu-active {
    transform: translate(1px, 52px) !important;
    --bs-dropdown-min-width: 13.8rem;
    --bs-dropdown-item-padding-x: 3rem;

}


.dropdown-menu{
    :active{
        --bs-dropdown-link-active-bg: transparent;
    }
}

.style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
}

.dropdown-menu-selected {
    background-color: #015192da !important;
}

.item-selected{
    justify-content: space-around;
    padding-left: 1.6rem;
}

.parallelogramEmpty {
    width: 35px;
    height: 10px;
    transform: skew(-20deg);
    background: #e0e0e0;
}

.parallelogramFilled{
    width: 35px;
    height: 10px;
    transform: skew(-20deg);
    background: #08d7f7;
}

li {
    list-style: none;
}

.button__hidden{
    display: none;
}