@import "../../../node_modules/bootstrap/scss/functions";
@import "../../style/variables.scss";
@import "../../../node_modules/bootstrap/scss/variables";


/* Button on-click style animation */
.button-active{
    color: #010101;
    transition-duration: 0.2s;
    }

.search-section{
    margin-bottom: 57px;
    font-family: Spiegel-SemiBold;
    font-size: 0.6rem;
    line-height: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: black;
}


.style-wrapper{
    --notch-size: 20px;
    display: flex;
    flex-direction: row;
    border: 1px solid;
    border-color: #c1c1c1;
    padding-right: 0;
    padding-left: 0;

    position: relative;
    background-color: transparent;
    /* clip-path: polygon(1rem 0, 100% 0, 100% 0, 100% 2.1rem, 81.4rem 100%, 0 100%, 0 100%, 0 1rem); */
/*     &:before{
        content: "";
        position: absolute;
        left: -0.6rem;
        top: -0.7rem;
        width: 1rem;
        height: 2rem;
        transform: rotate(45deg);
        background-color: #ffffff;
        border-right: 1px solid;
        border-color: #c1c1c1;
    }
    &:after{
        content: "";
        position: absolute;
        left: 81rem;
        top: 2.3rem;
        width: 2rem;
        height: 3rem;
        transform: rotate(45deg);
        background-color: #ffffff;
        border-left: 1px solid;
        border-color: #c1c1c1;
    } */
}