.style-wrapper
    margin-bottom: 57px
    font-family: Spiegel-SemiBold
    font-size: 10px
    line-height: 11.5px
    font-weight: 600
    letter-spacing: 1px
    text-transform: uppercase
    color: black

.roles__wrapper
    display: flex
.roles
    list-style: none
    display: flex
    flex-direction: row
    justify-content: center
    flex: 1

.search-bar
    &__wrapper
        display: flex
        justify-content: center
        width: 8rem
        height: 3.1rem
        cursor: pointer
        border: 1px solid
        &:hover
            .search-bar__icon
                transform: translateX(-5px)
                transition-duration: 0.2s
    &__input
        position: relative
        width: 4rem
        height: 1.6rem
        top: 0.7rem
        left: 1.3rem
        cursor: pointer
        border: none

    &__placeholder
        position: relative
        bottom: -2em
        left: -2.6em
        height: 1rem
        cursor: pointer

    &__icon
        position: relative
        left: 3.5em
        cursor: pointer
        transition-duration: 0.2s
        z-index: 1
