@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../style/variables.scss";
@import "../../../../node_modules/bootstrap/scss/variables";

.search-bar{
    &__wrapper{
        width: 9rem;
        height: 3.1rem;
        &:hover{
            .search-bar__line-left{
                top: 0rem;
                height: 3.1rem;
                transition-duration: 0.2s;
            }
            .search-bar__icon{
                transform: translateX(-5px);
                transition-duration: 0.2s;
            }
        }
    }
    &__dropdown{
        height: 100%;
    }


&__input{
    position: relative;
    width: 4rem;
    height: 1.6rem;
    top: 0.7rem;
    left: 1.3rem;
    cursor: pointer;
    border: none;
}

&__dropdown-menu{
    overflow-y: scroll;
    max-height: 20rem;
}

&__dropdown-item{
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}

&__icon{
    width: 1.5rem;
    position: absolute;
    left: 2.5em;
    top: 0.7rem;
    cursor: pointer;
    transition-duration: 0.2s;
    z-index: 1;
}

&__line-left{
    position: absolute;
    width: 0.1rem;
    height: 1.6rem;
    background-color: #c1c1c1;
    top: 0.7rem;
    left: 9rem;
    transition-duration: 0.2s;
}
&__btn-input{
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    background-color: transparent;
    color: black;
    white-space: nowrap;
    font-family: Spiegel-SemiBold;
    font-size: 0.6rem;
    line-height: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    border-style: none;
    --bs-btn-active-bg: white;
    --bs-btn-active-color: black;
    &:hover{
        background-color: transparent;
        color: black;
    }
    &:active{
        background-color: transparent;
        color: black;
    }
    &:focus-visible{
        background-color: transparent;
        color: black;
    }
    &:first-child:active{
        background-color: transparent;
        color: black;
    }
    &::after{
        display: none;
    }
    &:focus{
        &::after{
            left: 0.4rem;
        }
    }
}
}