.wrapper{
    display: flex;
    flex-direction: column;
}

.championInfo {
    font-family: Spiegel;

    &__background{
        position:absolute;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: 50rem;
        z-index: -1;

        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            backdrop-filter: brightness(50%) blur(5px);
        }
    }
    
    &__black-background{
        background: linear-gradient(rgba(0, 0, 0, 0), #000913 53%);
        position: relative;
        padding-top: 36rem;
        margin-top: -29rem;
        z-index: -1;
    }

    &__overview{
        position:absolute;
        top: 18rem;

        color: white;
        text-transform: uppercase;
        font-size: 0.625rem;
        letter-spacing: 0.25em;
        font-weight: bold;
        transform: rotate(-90deg) translate(-100%, -50%);
        &::after{
            content: "";
            display: inline-block;
            width: 1.4em;
            height: 1px;
            margin-left: 0.5em;
            background-color: currentColor;
        }
    }

    &__main-picture{
        padding-top: 3rem;
        width: 98%;
        padding-left: 6rem;
        z-index: -1;
    }

    &__short-info__wrapper{
        display:flex;
        width: 92rem;
        justify-content: space-around;
    }

    &__short-info{
        display: flex;
        width: 79rem;
        height: 9rem;
        padding-left: 6rem;
        text-align: center;
        font-size: 0.625rem;
        letter-spacing: 0.15em;
    }

    &__roles{
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        left: 3rem;

        &__icon{
            height: 32px;
            width: 32px;
            filter: invert(74%) sepia(18%) saturate(845%) hue-rotate(2deg) brightness(92%) contrast(86%);
        }

        &__general{
            color: white;
            margin-bottom: 0;
            margin-top: 1rem;
            cursor: default;
        }

        &__specific-role{
            color:#d0a85c;
            margin-bottom: 0;
            cursor: default;

        }
    }

    &__difficulties{
        display:flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        right: 3rem;

        &__general{
            color: white;
            cursor: default;
            margin-top: 1rem;
            margin-bottom: 0;
        }

        &__specific-difficulties{
            color:#d0a85c;
            cursor: default;
            margin-bottom: 0;
        }
    }

    &__description-wrapper{
        display: flex;
        padding: 1px;
    }

    &__short-description{
        width: 29rem;
        margin: 0 5rem 0 4rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        text-align: start;

        color: white;
        cursor: default;

        font-size: 0.875rem;
        letter-spacing: 0.08em;
        line-height: 1.28571;
    }

    &__dividing-line{
        background-color: #333a42;
        width: 1px;
        height: 8rem;
        margin-top: 1rem;
    }
}

.btn__show-more{
    display: contents;
    padding: 0px;

    text-transform: uppercase;
    color: rgb(208, 168, 92);
    font-size: 0.625rem;
    line-height: 1.15;
    cursor:pointer;
}

.bottom-dividing-line{
    background-color: #333a42;
    height: 1px;
    width: 83%;
    margin-top: 2rem;
    position: relative;
    left: 8rem;
}

.websites-links-wrapper{
    display: flex;
    justify-content: center;
}

.website-links{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin: 1rem 1rem 0rem 1rem;

    font-size: 0.625rem;
    letter-spacing: 0.15em;
    line-height: 1.15;

    &__wrapper{
        display: flex;
        justify-content: center;
    }

    &:hover{
    text-decoration: underline;
    }
}

.hidden {
    display: none;
}