.wrapper{
    display: flex;
    flex-direction: column;
}

.championInfo {
    font-family: Spiegel;

    &__background{
        position:absolute;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: 50rem;
        z-index: -1;

        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            backdrop-filter: brightness(50%) blur(5px);
        }
    }
    
    &__black-background{
        background: linear-gradient(rgba(0, 0, 0, 0), #000913 53%);
        position: relative;
        padding-top: 36rem;
        margin-top: -29rem;
        z-index: -1;
    }

    &__main-picture{
        padding-top: 3rem;
        width: 98%;
        padding-left: 6rem;
        z-index: -1;
    }

    &__short-info__wrapper{
        display:flex;
        width: 92rem;
        justify-content: space-around;
    }

    &__short-info{
        display: flex;
        width: 79rem;
        height: 9rem;
        padding-left: 6rem;
        text-transform: uppercase;
        text-align: center;
        font-size: 0.625rem;
        letter-spacing: 0.15em;
    }

    &__roles{
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        left: 3rem;

        &__icon{
            height: 32px;
            width: 32px;
            filter: invert(74%) sepia(18%) saturate(845%) hue-rotate(2deg) brightness(92%) contrast(86%);
        }

        &__general{
            color: white;
            margin-bottom: 0;
            margin-top: 1rem;
            cursor: default;
        }

        &__specific-role{
            color:#d0a85c;
            margin-bottom: 0;
            cursor: default;

        }
    }

    &__difficulties{
        display:flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        right: 3rem;

        &__general{
            color: white;
            cursor: default;
            margin-top: 1rem;
            margin-bottom: 0;
        }

        &__specific-difficulties{
            color:#d0a85c;
            cursor: default;
            margin-bottom: 0;
        }
    }

    &__description-wrapper{
        display: flex;
        padding: 1px;
    }

    &__short-description{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        margin: 0 5rem;
        color: white;
        cursor: default;
        text-align: start;
    }
}