@media (max-width: 1440px) {
  .leagueIntro__preview {
    left: 0rem;
  }
  .leagueIntro__description-wrapper {
    right: 3rem;
  }
  .championAbilities-style__abilities-preview {
    position: initial;
  }
  .championInfo__champion-list-wrapper {
    right: 1rem;
    top: 0.5rem;
  }
  .championSkins__slider-cover {
    height: 53.1rem;
  }
  .championSkins__slider__skin-image {
    width: 22rem;
  }
  .championSkins__slider__skin-blinder {
    bottom: 2rem;
  }
  .splide {
    height: 82%;
  }
  .splide__slide {
    height: 15rem !important;
    margin-bottom: 0px !important;
  }
}
@media (max-width: 1280px) {
  .leagueIntro__description-wrapper {
    right: 2rem;
  }
  .championInfo__short-description {
    margin: 0 0 0 4rem;
  }
  .championInfo__short-info {
    padding-left: 6rem;
    width: 68rem;
  }
  .championInfo__short-info__wrapper {
    width: 34.5rem;
  }
  .championAbilities-style {
    height: 34rem;
  }
  .championAbilities-style__abilities-info {
    width: 33rem;
  }
  .championAbilities-style__abilities-preview {
    height: 26rem;
  }
  .championAbilities-style__background {
    height: 34rem;
  }
  .championSkins {
    height: 47rem;
  }
  .championSkins__slider {
    margin-top: 0rem;
  }
  .championSkins__slider__skin-image {
    width: 19rem;
  }
  .championSkins__slider__skin-blinder {
    bottom: 0.8rem;
  }
  .championSkins__slider-header {
    margin: 1rem 2rem 1rem;
    font-size: 29px;
  }
  .championSkins__slider-cover {
    height: 47.3rem;
    width: 24rem;
  }
  .splide {
    height: 86%;
  }
  .splide__slide {
    height: 12rem !important;
  }
}
@media (max-width: 820px) {
  .leagueIntro__background {
    height: 67rem;
  }
  .leagueIntro__wrapper {
    flex-direction: column;
    padding-top: 4rem;
  }
  .leagueIntro__description-wrapper {
    position: initial;
    width: 100%;
  }
  .leagueIntro__header-info-first {
    font-size: 19px;
  }
  .leagueIntro__header-info-second {
    font-size: 60px;
    line-height: 40px;
  }
  .leagueIntro__header-info-game {
    font-size: 36px;
  }
  .leagueIntro__description-text {
    padding-top: 0rem;
  }
  .leagueIntro__game-modes {
    margin-top: 2rem;
  }
  .leagueIntro__preview {
    margin-top: 3rem;
  }
  .leagueIntro__video-preview {
    width: 50%;
    height: 50%;
  }
  .leagueIntro__video-short-description {
    margin-top: 1rem;
  }
  .video-border {
    width: 22rem;
    height: 22rem;
  }
  .search-section {
    margin-top: 7rem;
  }
  .col-8 {
    width: 60.667%;
  }
  .roles {
    padding-left: 0rem;
  }
  .difficulties {
    width: 97%;
  }
  .difficulties__line-right {
    right: 0rem;
  }
  .difficulties__btn-main-active {
    width: 7rem;
  }
  .parallelogramFilled {
    width: 20px;
  }
  .parallelogramEmpty {
    width: 20px;
  }
  .dropdown-menu-active {
    transform: translate(-1px, 51px) !important;
    --bs-dropdown-min-width: 8.8rem;
    --bs-dropdown-item-padding-x: 2rem;
  }
  .dropdown-style {
    justify-content: space-around;
  }
  .dropdown-style-selected {
    padding-left: 0;
  }
  .search-bar__line-left {
    width: 0.05rem;
  }
  .champion-card {
    width: 9rem;
    height: 15rem;
  }
  .champion-card__label {
    line-height: 2rem;
    bottom: 2rem;
    font-size: 0.8rem;
  }
  .championInfo {
    height: 48rem;
  }
  .championInfo__short-info {
    width: 100%;
    padding-left: 5rem;
  }
  .championInfo__short-info__wrapper {
    justify-content: space-between;
    width: 16.7rem;
  }
  .championInfo__short-description {
    margin: 0 0 0 1rem;
    width: 20rem;
    font-size: 12px;
  }
  .championInfo__main-picture {
    padding-left: 1rem;
  }
  .championInfo__overview {
    display: none;
  }
  .championInfo__champion-list-wrapper {
    z-index: 2;
  }
  .headers {
    width: 100%;
  }
  .headers__champion-name {
    font-size: 3rem;
  }
  .headers__champion-title {
    font-size: 25px;
  }
  .championAbilities-style {
    position: relative;
    height: 29rem;
  }
  .championAbilities-style__background {
    height: 100%;
  }
  .championAbilities-style__header {
    font-size: 40px;
  }
  .championAbilities-style__ability-icons-wrapper {
    margin-top: 3rem;
    width: 22rem;
  }
  .championAbilities-style__ability-icon {
    width: 3rem;
  }
  .championAbilities-style__abilities-preview {
    position: absolute;
    width: 20rem;
    height: 15rem;
    right: 2rem;
    top: 2rem;
  }
  .championAbilities-style__diving-line {
    width: 25.4rem;
    right: 0;
  }
  .championAbilities-style__abilities-sideText {
    display: none;
  }
  .championAbilities-style__description-wrapper {
    width: 25rem;
    left: 0;
  }
  .bottom-dividing-line {
    left: 4rem;
  }
  .championSkins {
    height: 30.2rem;
  }
  .championSkins__slider-cover {
    height: 30.3rem;
    width: 18rem;
  }
  .championSkins__slider-header {
    margin: 0rem 2rem 0rem;
    font-size: 18px;
    padding: 15px;
  }
  .championSkins__slider__skin-image {
    width: 13rem;
  }
  .championSkins__slider__skin-name {
    font-size: 16px;
  }
  .championSkins__slider__skin-blinder {
    height: 19px;
  }
  .championSkins__skins__sideText {
    display: none;
  }
  .splide {
    height: 88%;
  }
  .splide__slide {
    height: 9rem !important;
  }
  .footer {
    height: 10rem;
  }
}
@media (max-width: 810px) {
  .championSkins {
    height: 29.8rem;
  }
  .championSkins__slider-cover {
    height: 29.9rem;
  }
  .championSkins__slider__skin-blinder {
    bottom: 0.3rem;
  }
  .splide__slide {
    height: 8rem !important;
  }
}
@media (max-width: 428px) {
  .leagueIntro {
    height: 63rem;
  }
  .leagueIntro__wrapper {
    padding-top: 2rem;
  }
  .leagueIntro__mode-img {
    width: 4rem;
  }
  .leagueIntro__background {
    height: 63rem;
  }
  .leagueIntro__video-long-description {
    margin-top: 2rem;
  }
  .video-border {
    width: 13rem;
    height: 13rem;
  }
  .title {
    top: 2rem;
  }
  .title__main {
    font-size: 4rem;
    line-height: 67px;
  }
  .search-section {
    display: none;
  }
  .champion-cards {
    margin-top: 4rem;
    padding-bottom: 4rem;
  }
  .champion-card {
    width: 6rem;
    height: 11rem;
  }
  .footer {
    height: 10rem;
  }
  .footer__riot-copyright {
    width: 100%;
  }
  .headers {
    top: 51%;
  }
  .headers__champion-name {
    font-size: 28px;
  }
  .headers__champion-title {
    font-size: 20px;
    margin-bottom: 0;
    line-height: 23px;
  }
  .championInfo {
    height: 41.7rem;
  }
  .championInfo__short-info {
    padding-left: 1rem;
  }
  .championInfo__short-info {
    flex-direction: column;
  }
  .championInfo__short-info__wrapper {
    width: 100%;
    justify-content: space-around;
  }
  .championInfo__roles__general {
    margin-top: 7px;
  }
  .championInfo__difficulties__general {
    margin-top: 7px;
  }
  .championInfo__short-description {
    margin: 0 1rem 0 1rem;
    width: 100%;
    height: 15vh;
    overflow: scroll;
  }
  .championInfo__dividing-line {
    display: none;
  }
  .championInfo__description-wrapper {
    margin-top: 1rem;
  }
  .championInfo__black-background {
    margin-top: -20rem;
  }
  .championInfo__bottom-wrapper {
    position: absolute;
    margin-top: 10rem;
    margin-left: 13rem;
  }
  .difficulty__icons {
    width: 4.4rem;
  }
  .bottom-dividing-line {
    position: absolute;
    width: 70%;
    margin-top: 7rem;
  }
  .websites-links-wrapper {
    position: absolute;
    margin-top: 7rem;
    margin-left: 4rem;
  }
  .championSkins {
    height: 21.8rem;
  }
  .championSkins__slider-cover {
    height: 6.9rem;
    width: 100%;
    top: 15rem;
    background-color: black;
  }
  .championSkins__slider-header {
    display: none;
  }
  .championSkins__slider__skin-image {
    width: 8rem;
  }
  .championSkins__slider__skin-name {
    font-size: 12px;
  }
  .championAbilities-style {
    width: 100%;
    height: 40rem;
  }
  .championAbilities-style__icon {
    width: 100%;
  }
  .championAbilities-style__wrapper {
    flex-direction: column;
  }
  .championAbilities-style__abilities-preview {
    position: initial;
    width: 100%;
  }
  .championAbilities-style__abilities-info {
    width: 100%;
  }
  .championAbilities-style__description-wrapper {
    width: 100%;
    height: 10rem;
  }
  .championAbilities-style__description-ability {
    height: 12vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    pointer-events: all;
  }
  .championAbilities-style__header {
    margin-left: 11vh;
  }
  .splide {
    height: 100%;
  }
  .splide__slide {
    height: 5.1rem !important;
    width: 30% !important;
  }
}
@media (max-width: 390px) {
  .video-border {
    width: 12rem;
    height: 12rem;
  }
  .championInfo {
    height: 40rem;
  }
  .championInfo__short-description {
    align-items: baseline;
  }
  .championInfo__roles__icon {
    height: 50%;
  }
  .championAbilities-style {
    height: 44rem;
  }
  .championAbilities-style__diving-line {
    width: 100%;
  }
  .headers__champion-name {
    font-size: 22px;
    margin-bottom: 0;
  }
  .headers__champion-title {
    font-size: 17px;
  }
  .leagueIntro {
    height: 59rem;
  }
  .leagueIntro__description-text {
    font-size: 16px;
  }
  .leagueIntro__video-long-description {
    font-size: 16px;
  }
  .leagueIntro__background {
    height: 59rem;
    filter: brightness(50%);
  }
  .title__subtitle {
    max-width: 348px;
  }
  .champion-card {
    margin: 1rem 0.5rem 0 0.5rem;
  }
  .champion-cards {
    padding-bottom: 1rem;
  }
  .footer__riot-copyright {
    margin-top: 1rem;
  }
  .championSkins {
    height: 20.9rem;
  }
  .championSkins__slider-cover {
    top: 14rem;
  }
  .splide__slide {
    width: 33% !important;
  }
}
@media (max-width: 360px) {
  .leagueIntro__mode-name {
    width: 5rem;
    font-size: 12px;
    margin-top: 6px;
  }
  .leagueIntro__video-long-description {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 15px;
    line-height: 23px;
  }
  .title__main {
    font-size: 3rem;
  }
  .champion-card {
    margin: 1rem 0.5rem 0 0.5rem;
  }
  .champion-cards {
    padding-bottom: 1rem;
  }
  .footer__riot-copyright {
    margin-top: 1rem;
  }
  .championInfo {
    height: 39rem;
  }
  .championInfo__roles__icon {
    height: 35%;
  }
  .championInfo__short-info__wrapper {
    margin-top: 1rem;
  }
  .championInfo__bottom-wrapper {
    margin-left: 11rem;
  }
  .difficulty__icons {
    margin-top: 0;
  }
  .websites-links-wrapper {
    margin-left: 2rem;
  }
  .championAbilities-style__ability-icons-wrapper {
    margin-top: 2rem;
    width: 100%;
  }
  .championSkins {
    height: 19.9rem;
  }
  .championSkins__slider-cover {
    top: 13rem;
  }
  .championSkins__slider__skin-image {
    width: 7rem;
  }
  .championSkins__slider__skin-blinder {
    bottom: 15px;
    height: 11px;
  }
  .championAbilities-style__header {
    margin-left: 5rem;
  }
  .championAbilities-style__description-wrapper {
    height: 12rem;
  }
  .championAbilities-style__description-ability {
    height: 9rem;
  }
}/*# sourceMappingURL=media.css.map */