@media (max-width: 1440px) {
    .leagueIntro{
        &__preview{
            left: 0rem;
        }

        &__description-wrapper{
            right: 3rem;
        }
    }

    .championAbilities-style{
        &__abilities-preview{
            position:initial;
        }
    }

    .championInfo{
        &__champion-list-wrapper{
            right: 1rem;
            top: 0.5rem;
        }
    }

    .championSkins{
        &__slider-cover{
            height: 53.1rem;
        }

        &__slider{
            &__skin-image{
                width: 22rem;
            }

            &__skin-blinder{
                bottom: 2rem;
            }
        }
    }

    .splide{
        height: 82%;

        &__slide{
            height: 15rem !important;
            margin-bottom: 0px !important;
        }
    }
}

@media (max-width: 1280px) {
    .leagueIntro{
        &__description-wrapper{
            right: 2rem;
        }
    }

    .championInfo{
        &__short-description{
            margin: 0 0 0 4rem;
        }

        &__short-info{
            padding-left: 6rem;
            width: 68rem;
        }

        &__short-info__wrapper{
            width: 34.5rem;
        }
    }

    .championAbilities-style{
        height: 34rem;

        &__abilities-info{
            width: 33rem;
        }

        &__abilities-preview{
            height: 26rem;
        }

        &__background{
            height: 34rem;
        }
    }

    .championSkins{
        height: 47rem;

        &__slider{
            margin-top: 0rem;

            &__skin-image{
                width: 18rem;
            }

            &__skin-blinder{
                bottom: 1.3rem;
            }
        }

        &__slider-header{
            margin: 1rem 2rem 1rem;
            font-size: 29px;
        }

        &__slider-cover{
            height: 47.3rem;
            width: 24rem;
        }
    }

    .splide{
        height: 86%;

        &__slide{
            height: 12rem !important;
        }
    }
}

@media (max-width: 820px) {
    .leagueIntro{
        &__background{
            height: 67rem;
        }

        &__wrapper{
            flex-direction: column;
            padding-top:4rem;
        }

        &__description-wrapper{
            position:initial;
            width: 100%;
        }

        &__header-info-first{
            font-size: 19px;
        }

        &__header-info-second{
            font-size: 60px;
            line-height: 40px;
        }

        &__header-info-game{
            font-size: 36px;
        }

        &__description-text{
            padding-top: 0rem;
        }

        &__game-modes{
            margin-top: 2rem;
        }

        &__preview{
            margin-top: 3rem;
        }

        &__video-preview{
            width: 50%;
            height: 50%;
        }

        &__video-short-description{
            margin-top: 1rem;
        }
    }
    .video-border{
        width: 22rem;
        height: 22rem;
    }

    .search-section{
        margin-top: 7rem;
    }

    .col-8{
        width: 60.667%;
    }

    .roles{
        padding-left: 0rem;
    }

    .difficulties{
        width: 97%;

        &__line-right{
            right: 0rem;
        }

        &__btn-main-active{
            width: 7rem;
        }
    }

    .parallelogramFilled{
        width: 20px;
    }

    .parallelogramEmpty{
        width: 20px;
    }

    .dropdown-menu-active{
        transform: translate(-1px, 51px) !important;
        --bs-dropdown-min-width: 8.8rem;
        --bs-dropdown-item-padding-x: 2rem;
    }

    .dropdown-style{
        justify-content: space-around;
    }

    .dropdown-style-selected{
        padding-left: 0;
    }

    .search-bar{
        &__line-left{
            width: 0.05rem;
        }
    }

    .champion-card{
        width: 9rem;
        height: 15rem;

        &__label{
            line-height: 2rem;
            bottom: 2rem;
            font-size: 0.8rem;
        }
    }

    .championInfo{
        height: 48rem;

        &__short-info{
            width: 100%;
            padding-left: 5rem;

            &__wrapper{
                justify-content: space-between;
                width: 16.7rem;
            }
        }

        &__short-description{
            margin: 0 0 0 1rem;
            width: 20rem;
            font-size: 12px;
        }

        &__main-picture{
            padding-left: 1rem;
        }

        &__overview{
            display: none;
        }

        &__champion-list-wrapper{
            z-index: 2;
        }
    }

    .headers{
        width: 100%;

        &__champion-name{
            font-size: 3rem;
        }

        &__champion-title{
            font-size: 25px;
        }
    }

    .championAbilities-style{
        position: relative;
        height: 29rem;

        &__background{
            height: 100%;
        }

        &__header{
            font-size: 40px;
        }

        &__ability-icons-wrapper{
            margin-top: 3rem;
            width: 22rem;
        }

        &__ability-icon{
            width: 3rem;
        }

        &__abilities-preview{
            position: absolute;
            width: 20rem;
            height: 15rem;
            right: 2rem;
            top: 2rem;
        }

        &__diving-line{
            width: 25.4rem;
            right: 0;
        }

        &__abilities-sideText{
            display: none;
        }

        &__description-wrapper{
            width: 25rem;
            left: 0;
        }
    }

    .bottom-dividing-line{
        left: 4rem;
    }

    .championSkins{
        height: 30.2rem;

        &__slider-cover{
            height: 30.2rem;
            width: 18rem;
        }

        &__slider-header{
            margin: 0rem 2rem 0rem;
            font-size: 18px;
            padding: 15px;
        }

        &__slider{
            &__skin-image{
                width: 13rem;
            }

            &__skin-name{
                font-size: 16px;
            }

            &__skin-blinder{
                height: 19px;
            }
        }

        &__skins{
            &__sideText{
                display:none;
            }
        }
    }

    .splide{
        height: 88%;

        &__slide{
            height: 9rem !important;
        }
    }

    .footer{
        height: 10rem;
    }
}

@media (max-width: 810px) {
    .championSkins{
        height: 29.8rem;

        &__slider-cover{
            height: 29.9rem;
        }

        &__slider{
            &__skin-blinder{
                bottom: 0.3rem;
            }
        }
    }

    .splide{
        &__slide{
            height: 8rem !important;
        }
    }
}

@media (max-width: 428px){
    .leagueIntro{
        height: 63rem;

        &__wrapper{
            padding-top: 2rem;
        }

        &__mode-img{
            width: 4rem;
        }

        &__background{
            height: 63rem;
        }

        &__video-long-description{
            margin-top: 2rem;
        }
    }

    .video-border{
        width: 13rem;
        height: 13rem;
    }

    .title{
        top: 2rem;

        &__main{
            font-size: 4rem;
            line-height: 67px;
        }
    }

    .search-section{
        display: none;
    }

    .champion-cards{
        margin-top: 4rem;
        padding-bottom: 4rem;
    }

    .champion-card{
        width: 6rem;
        height: 11rem;
    }

    .footer{
        height: 10rem;

        &__riot-copyright{
            width: 100%;
        }
    }

    .headers{
        top:51%;

        &__champion-name{
            font-size: 28px;
        }

        &__champion-title{
            font-size: 20px;
            margin-bottom: 0;
            line-height: 23px;
        }
    }

    .championInfo{
        height: 41.7rem;

        &__short-info{
            padding-left: 1rem;
        }

        &__short-info{
            flex-direction: column;

            &__wrapper{
                width: 100%;
                justify-content: space-around   ;
            }
        }

        &__roles{
            &__general{
                margin-top: 7px;
            }
        }

        &__difficulties{
            &__general{
                margin-top: 7px;
            }
        }

        &__short-description{
            margin: 0 1rem 0 1rem;
            width: 100%;
            height: 15vh;
            overflow: scroll;
        }

        &__dividing-line{
            display: none;
        }

        &__description-wrapper{
            margin-top: 1rem;
        }

        &__black-background{
            margin-top: -20rem;
        }

        &__bottom-wrapper{
            position: absolute;
            margin-top: 10rem;
            margin-left: 13rem;
        }
    }

    .difficulty{
        &__icons{
            width: 4.4rem;
        }
    }

    .bottom-dividing-line{
        position: absolute;
        width: 70%;
        margin-top: 7rem;
    }

    .websites-links-wrapper{
        position:absolute;
        margin-top: 7rem;
        margin-left: 4rem;
    }

    .championSkins{
        height: 21.8rem;

        &__slider-cover{
            height: 6.9rem;
            width: 100%;
            top: 15rem;
            background-color: black;
        }

        &__slider-header{
            display:none;
        }

        &__slider{
            &__skin-image{
                width: 8rem;
            }

            &__skin-name{
                font-size: 12px;
            }
        }
    }

    .championAbilities-style{
        width: 100%;
        height: 40rem;

        &__icon{
            width: 100%;
        }

        &__wrapper{
            flex-direction: column;
        }

        &__abilities-preview{
            position:initial;
            width: 100%;
        }

        &__abilities-info{
            width: 100%;
        }

        &__description-wrapper{
            width: 100%;
            height: 10rem;
        }

        &__description-ability{
            height: 12vh;
            overflow: scroll;
            -webkit-overflow-scrolling: touch;
            pointer-events: all;
        }

        &__header{
            margin-left: 11vh;
        }
    }

    .splide{
        height: 100%;

        &__slide{
           height: 5.1rem !important;
           width: 30% !important;
        }
    }
}

@media (max-width: 390px){
    .video-border{
        width: 12rem;
        height: 12rem;
    }

    .championInfo{
        height: 40rem;

        &__short-description{
            align-items: baseline;
        }

        &__roles{
            &__icon{
                height: 50%;
            }
        }
    }

    .championAbilities-style{
        height: 44rem;

        &__diving-line{
            width: 100%;
        }
    }

    .headers{
        &__champion-name{
            font-size: 22px;
            margin-bottom: 0;
        }

        &__champion-title{
            font-size: 17px;
        }
    }

    .leagueIntro{
        height: 59rem;

        &__description-text{
            font-size: 16px;
        }

        &__video-long-description{
            font-size: 16px;
        }

        &__background{
            height: 59rem;
            filter:brightness(50%);
        }
    }

    .title{
        &__subtitle{
            max-width: 348px;
        }
    }

    .champion-card{
        margin: 1rem 0.5rem 0 0.5rem;
    }

    .champion-cards{
        padding-bottom: 1rem;
    }

    .footer{
        &__riot-copyright{
            margin-top: 1rem;
        }
    }

    .championSkins{
        height: 20.9rem;

        &__slider-cover{
            top: 14rem;
        }
    }
}

@media (max-width: 360px){
    .leagueIntro{

        &__mode-name{
            width: 5rem;
            font-size: 12px;
            margin-top: 6px;
        }

        &__video-long-description{
            margin-top: 0rem;
            margin-bottom: 0rem;
            font-size: 15px;
            line-height: 23px;
        }
    }

    .title{
        &__main{
            font-size: 3rem;
        }
    }

    .champion-card{
        margin: 1rem 0.5rem 0 0.5rem;
    }

    .champion-cards{
        padding-bottom: 1rem;
    }

    .footer{
        &__riot-copyright{
            margin-top: 1rem;
        }
    }

    .championInfo{
        height: 39rem;
        &__roles{
            &__icon{
                height: 35%;
            }
        }

        &__short-info{
            &__wrapper{
                margin-top: 1rem;
            }
        }
    }

    .difficulty{
        &__icons{
            margin-top: 0;
        }
    }

    .websites-links-wrapper{
        margin-left: 2rem;
    }

    .championAbilities-style{
        &__ability-icons-wrapper{
            margin-top: 2rem;
            width: 100%;
        }
    }

    .championSkins{
        height: 19.9rem;

        &__slider-cover{
            top:13rem;
        }
    }
}