@media (max-width: 1440px) {
  .leagueIntro__preview {
    left: 0rem;
  }
  .leagueIntro__description-wrapper {
    right: 3rem;
  }
}
@media (max-width: 1200px) {
  .leagueIntro__description-wrapper {
    right: 2rem;
  }
}
@media (max-width: 820px) {
  .leagueIntro__background {
    height: 67rem;
  }
  .leagueIntro__wrapper {
    flex-direction: column;
    padding-top: 4rem;
  }
  .leagueIntro__description-wrapper {
    position: initial;
    width: 100%;
  }
  .leagueIntro__header-info-first {
    font-size: 19px;
  }
  .leagueIntro__header-info-second {
    font-size: 60px;
    line-height: 40px;
  }
  .leagueIntro__header-info-game {
    font-size: 36px;
  }
  .leagueIntro__description-text {
    padding-top: 0rem;
  }
  .leagueIntro__game-modes {
    margin-top: 2rem;
  }
  .leagueIntro__preview {
    margin-top: 3rem;
  }
  .leagueIntro__video-preview {
    width: 50%;
    height: 50%;
  }
  .leagueIntro__video-short-description {
    margin-top: 1rem;
  }
  .video-border {
    width: 22rem;
    height: 22rem;
  }
  .search-section {
    margin-top: 7rem;
  }
  .col-8 {
    width: 60.667%;
  }
  .roles {
    padding-left: 0rem;
  }
  .difficulties {
    width: 97%;
  }
  .difficulties__line-right {
    right: 0rem;
  }
  .difficulties__btn-main-active {
    width: 7rem;
  }
  .parallelogramFilled {
    width: 20px;
  }
  .parallelogramEmpty {
    width: 20px;
  }
  .dropdown-menu-active {
    transform: translate(-1px, 51px) !important;
    --bs-dropdown-min-width: 8.8rem;
    --bs-dropdown-item-padding-x: 2rem;
  }
  .dropdown-style {
    justify-content: space-around;
  }
  .dropdown-style-selected {
    padding-left: 0;
  }
  .search-bar__line-left {
    width: 0.05rem;
  }
  .champion-card {
    width: 9rem;
    height: 15rem;
  }
  .champion-card__label {
    line-height: 2rem;
    bottom: 2rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 428px) {
  .leagueIntro {
    height: 63rem;
  }
  .leagueIntro__wrapper {
    padding-top: 2rem;
  }
  .leagueIntro__mode-img {
    width: 4rem;
  }
  .leagueIntro__background {
    height: 63rem;
  }
  .leagueIntro__video-long-description {
    margin-top: 2rem;
  }
  .video-border {
    width: 13rem;
    height: 13rem;
  }
  .title {
    top: 2rem;
  }
  .title__main {
    font-size: 4rem;
    line-height: 67px;
  }
  .search-section {
    display: none;
  }
  .champion-cards {
    margin-top: 4rem;
    padding-bottom: 4rem;
  }
  .champion-card {
    width: 6rem;
    height: 11rem;
  }
  .footer {
    height: 10rem;
  }
  .footer__riot-copyright {
    width: 100%;
  }
}
@media (max-width: 390px) {
  .video-border {
    width: 12rem;
    height: 12rem;
  }
  .leagueIntro {
    height: 59rem;
  }
  .leagueIntro__description-text {
    font-size: 16px;
  }
  .leagueIntro__video-long-description {
    font-size: 16px;
  }
  .leagueIntro__background {
    height: 59rem;
    filter: brightness(50%);
  }
  .title__subtitle {
    max-width: 348px;
  }
  .champion-card {
    margin: 1rem 0.5rem 0 0.5rem;
  }
  .champion-cards {
    padding-bottom: 1rem;
  }
  .footer__riot-copyright {
    margin-top: 1rem;
  }
}
@media (max-width: 360px) {
  .leagueIntro__mode-name {
    width: 5rem;
    font-size: 12px;
    margin-top: 6px;
  }
  .leagueIntro__video-long-description {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 15px;
    line-height: 23px;
  }
  .title__main {
    font-size: 3rem;
  }
  .champion-card {
    margin: 1rem 0.5rem 0 0.5rem;
  }
  .champion-cards {
    padding-bottom: 1rem;
  }
  .footer__riot-copyright {
    margin-top: 1rem;
  }
}/*# sourceMappingURL=media.css.map */