@media (max-width: 1440px) {
    .leagueIntro{
        &__preview{
            left: 0rem;
        }

        &__description-wrapper{
            right: 3rem;
        }
    }
}

@media (max-width: 1200px) {
    .leagueIntro{
        &__description-wrapper{
            right: 2rem;
        }
    }
}

@media (max-width: 820px) {
    .leagueIntro{
        &__background{
            height: 67rem;
        }

        &__wrapper{
            flex-direction: column;
            padding-top:4rem;
        }

        &__description-wrapper{
            position:initial;
            width: 100%;
        }

        &__header-info-first{
            font-size: 19px;
        }

        &__header-info-second{
            font-size: 60px;
            line-height: 40px;
        }

        &__header-info-game{
            font-size: 36px;
        }

        &__description-text{
            padding-top: 0rem;
        }

        &__game-modes{
            margin-top: 2rem;
        }

        &__preview{
            margin-top: 3rem;
        }

        &__video-preview{
            width: 50%;
            height: 50%;
        }

        &__video-short-description{
            margin-top: 1rem;
        }
    }
    .video-border{
        width: 22rem;
        height: 22rem;
    }

    .search-section{
        margin-top: 7rem;
    }

    .col-8{
        width: 60.667%;
    }

    .roles{
        padding-left: 0rem;
    }

    .difficulties{
        width: 97%;

        &__line-right{
            right: 0rem;
        }

        &__btn-main-active{
            width: 7rem;
        }
    }

    .parallelogramFilled{
        width: 20px;
    }

    .parallelogramEmpty{
        width: 20px;
    }

    .dropdown-menu-active{
        transform: translate(-1px, 51px) !important;
        --bs-dropdown-min-width: 8.8rem;
        --bs-dropdown-item-padding-x: 2rem;
    }

    .dropdown-style{
        justify-content: space-around;
    }

    .dropdown-style-selected{
        padding-left: 0;
    }

    .search-bar{
        &__line-left{
            width: 0.05rem;
        }
    }
}