@media (max-width: 1440px) {
    .leagueIntro{
        &__preview{
            left: 0rem;
        }

        &__description-wrapper{
            right: 3rem;
        }
    }

    .championAbilities-style{
        &__abilities-preview{
            position:initial;
        }
    }

    .championInfo{
        &__champion-list-wrapper{
            right: 1rem;
            top: 0.5rem;
        }
    }

    .championSkins{
        &__slider-cover{
            height: 53.1rem;
        }

        &__slider{
            &__skin-image{
                width: 22rem;
            }

            &__skin-blinder{
                bottom: 2rem;
            }
        }
    }

    .splide{
        height: 82%;

        &__slide{
            height: 15rem !important;
            margin-bottom: 0px !important;
        }
    }
}

@media (max-width: 1200px) {
    .leagueIntro{
        &__description-wrapper{
            right: 2rem;
        }
    }
}

@media (max-width: 820px) {
    .leagueIntro{
        &__background{
            height: 67rem;
        }

        &__wrapper{
            flex-direction: column;
            padding-top:4rem;
        }

        &__description-wrapper{
            position:initial;
            width: 100%;
        }

        &__header-info-first{
            font-size: 19px;
        }

        &__header-info-second{
            font-size: 60px;
            line-height: 40px;
        }

        &__header-info-game{
            font-size: 36px;
        }

        &__description-text{
            padding-top: 0rem;
        }

        &__game-modes{
            margin-top: 2rem;
        }

        &__preview{
            margin-top: 3rem;
        }

        &__video-preview{
            width: 50%;
            height: 50%;
        }

        &__video-short-description{
            margin-top: 1rem;
        }
    }
    .video-border{
        width: 22rem;
        height: 22rem;
    }

    .search-section{
        margin-top: 7rem;
    }

    .col-8{
        width: 60.667%;
    }

    .roles{
        padding-left: 0rem;
    }

    .difficulties{
        width: 97%;

        &__line-right{
            right: 0rem;
        }

        &__btn-main-active{
            width: 7rem;
        }
    }

    .parallelogramFilled{
        width: 20px;
    }

    .parallelogramEmpty{
        width: 20px;
    }

    .dropdown-menu-active{
        transform: translate(-1px, 51px) !important;
        --bs-dropdown-min-width: 8.8rem;
        --bs-dropdown-item-padding-x: 2rem;
    }

    .dropdown-style{
        justify-content: space-around;
    }

    .dropdown-style-selected{
        padding-left: 0;
    }

    .search-bar{
        &__line-left{
            width: 0.05rem;
        }
    }

    .champion-card{
        width: 9rem;
        height: 15rem;

        &__label{
            line-height: 2rem;
            bottom: 2rem;
            font-size: 0.8rem;
        }
    }
}

@media (max-width: 428px){
    .leagueIntro{
        height: 63rem;

        &__wrapper{
            padding-top: 2rem;
        }

        &__mode-img{
            width: 4rem;
        }

        &__background{
            height: 63rem;
        }

        &__video-long-description{
            margin-top: 2rem;
        }
    }

    .video-border{
        width: 13rem;
        height: 13rem;
    }

    .title{
        top: 2rem;

        &__main{
            font-size: 4rem;
            line-height: 67px;
        }
    }

    .search-section{
        display: none;
    }

    .champion-cards{
        margin-top: 4rem;
        padding-bottom: 4rem;
    }

    .champion-card{
        width: 6rem;
        height: 11rem;
    }

    .footer{
        height: 10rem;

        &__riot-copyright{
            width: 100%;
        }
    }
}

@media (max-width: 390px){
    .video-border{
        width: 12rem;
        height: 12rem;
    }

    .leagueIntro{
        height: 59rem;

        &__description-text{
            font-size: 16px;
        }

        &__video-long-description{
            font-size: 16px;
        }

        &__background{
            height: 59rem;
            filter:brightness(50%);
        }
    }

    .title{
        &__subtitle{
            max-width: 348px;
        }
    }

    .champion-card{
        margin: 1rem 0.5rem 0 0.5rem;
    }

    .champion-cards{
        padding-bottom: 1rem;
    }

    .footer{
        &__riot-copyright{
            margin-top: 1rem;
        }
    }
}

@media (max-width: 360px){
    .leagueIntro{

        &__mode-name{
            width: 5rem;
            font-size: 12px;
            margin-top: 6px;
        }

        &__video-long-description{
            margin-top: 0rem;
            margin-bottom: 0rem;
            font-size: 15px;
            line-height: 23px;
        }
    }

    .title{
        &__main{
            font-size: 3rem;
        }
    }

    .champion-card{
        margin: 1rem 0.5rem 0 0.5rem;
    }

    .champion-cards{
        padding-bottom: 1rem;
    }

    .footer{
        &__riot-copyright{
            margin-top: 1rem;
        }
    }
}