@import "../components/LeagueOfLegendsIntro/leagueoflegendsintro.css";
@import "../components/ChampionCard/championCard.css";
@import "../components/champSearchForm/champSearchForm.css";
@import "../components/champSearchForm/SearchRoles/searchRoles.css";
@import "../components/champSearchForm/SearchDifficulty/searchDifficulty.css";
@import "../components/champSearchForm/SearchInput/searchInput.css";
@import "../components/pages/homePage/home.css";
@import "../components/Footer/Footer.css";
@import "../components/ChampionInfo/ChampionOverview/championOverview.css";
@import "../components/ChampionInfo/ChampionInfoAbilities/championInfoAbilities.css";
@import "../components/ChampionInfo/ChampionAbilityPreview/championAbilityPreview.css";
@import "../components/ChampionInfo/ChampionInfoAbilityDescriptions/ChampionInfoAbilityDescriptions.css";
@import "../components/ChampionInfo/championInfoDifficulty/championInfoDifficulty.css";
@import "../components/ChampionInfo/ChampionSkins/ChampionSkins.css";
@import "../components/pages/SingleChampionLayout/singleChampionLayout.css";
@import "./media.css";
@font-face {
  font-family: "BeaufortforLOL-Regular";
  src: url("../assets../assets/fonts/BeaufortforLOL-Regular.eot");
  src: url("../assets/fonts/BeaufortforLOL-Regular.eot") format("eot"), url("../assets/fonts/BeaufortforLOL-Regular.woff") format("woff"), url("../assets/fonts/BeaufortforLOL-Regular.ttf") format("truetype"), url("../assets/fonts/BeaufortforLOL-Regular.svg#") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BeaufortforLOL-BoldItalic";
  src: url("../assets/fonts/BeaufortforLOL-BoldItalic.eot?#iefix");
  src: url("../assets/fonts/BeaufortforLOL-BoldItalic.eot?#iefix") format("eot"), url("../assets/fonts/BeaufortforLOL-BoldItalic.woff") format("woff"), url("../assets/fonts/BeaufortforLOL-BoldItalic.ttf") format("truetype"), url("../assets/fonts/BeaufortforLOL-BoldItalic.svg#") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "BeaufortforLOL-HeavyItalic";
  src: url("../assets/fonts/BeaufortforLOL-HeavyItalic.eot?#iefix");
  src: url("../assets/fonts/BeaufortforLOL-HeavyItalic.eot?#iefix") format("eot"), url("../assets/fonts/BeaufortforLOL-HeavyItalic.woff") format("woff"), url("../assets/fonts/BeaufortforLOL-HeavyItalic.ttf") format("truetype"), url("../assets/fonts/BeaufortforLOL-HeavyItalic.svg#") format("svg");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Spiegel-Regular";
  src: url("../assets/fonts/Spiegel-RegularItalic.eot?#iefix");
  src: url("../assets/fonts/Spiegel-RegularItalic.eot?#iefix") format("eot"), url("../assets/fonts/Spiegel-RegularItalic.woff") format("woff"), url("../assets/fonts/Spiegel-RegularItalic.ttf") format("truetype"), url("../assets/fonts/Spiegel-RegularItalic.svg#") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Spiegel";
  src: url("../assets/fonts/Spiegel-Regular.eot?#iefix");
  src: url("../assets/fonts/Spiegel-Regular.eot?#iefix") format("eot"), url("../assets/fonts/Spiegel-Regular.woff") format("woff"), url("../assets/fonts/Spiegel-Regular.ttf") format("truetype"), url("../assets/fonts/Spiegel-Regular.svg#") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Spiegel-SemiBold";
  src: url("../assets/fonts/Spiegel-SemiBold.eot?#iefix");
  src: url("../assets/fonts/Spiegel-SemiBold.eot?#iefix") format("eot"), url("../assets/fonts/Spiegel-SemiBold.woff") format("woff"), url("../assets/fonts/Spiegel-SemiBold.ttf") format("truetype"), url("../assets/fonts/Spiegel-SemiBold.svg#") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.eot");
  src: url("../assets/fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Poppins-Regular.woff2") format("woff2"), url("../assets/fonts/Poppins-Regular.woff") format("woff"), url("Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}/*# sourceMappingURL=style.css.map */