

.championAbilities-style{

    &__background{
        position:absolute;
        width: 100%;
        height: 35rem;;
        background-color: #000913;
        z-index: -1;
    }

    &__icon{
        position:absolute;
        width: 40rem;
        left:50%;
        bottom: 1rem;
        transform: translateX(-50%);
        filter: invert(10%) sepia(39%) saturate(616%) hue-rotate(162deg) brightness(67%) contrast(103%);
        z-index: -1;

    }

    &__abilities-sideText{
        position:absolute;
        top: 66rem;

        color: white;
        text-transform: uppercase;
        font-size: 0.625rem;
        letter-spacing: 0.25em;
        font-weight: bold;
        transform: rotate(-90deg) translate(-100%, -50%);
        &::after{
            content: "";
            display: inline-block;
            width: 1.4em;
            height: 1px;
            margin-left: 0.5em;
            background-color: currentColor;
        }
    }

    &__wrapper{
        display: flex;
    }

    &__header{
        text-transform: uppercase;
        color: white;
        font-family: BeaufortforLOL-BoldItalic, sans-serif;
        font-weight: 800;
        font-size: 3.75rem;
        font-style: italic;
        line-height: 1;
    }

    &__ability-icons-wrapper{
        margin-top: 5rem;
        display: flex;
        justify-content: space-between;
        width: 27rem;
    }

    &__ability-icon{
        position:relative;
        filter: brightness(50%);
        transition-duration: 0.6s;

       &:hover{
        transition-duration: 0.3s;
        transform: translateY(-10%);
       }
    }

    &__diving-line{
        height: 1px;
        width: 10rem;
        background-color: #394048;
    }
}